/* Styles for the home content section */
.home-content {
    height: calc(100vh - 60px - 56px);  /* Adjust height to account for header and footer */
    display: flex; /* Use flexbox for centering content */
    justify-content: center; /* Center content horizontally */
    align-items: center;  /* Center content vertically */
}

/* Styles for the main content section */
#main-content {
    min-height: calc(100vh - 60px); /* Ensure main content takes up full height minus header */
    padding-top: 60px; /* Add padding to top to avoid overlap with fixed header */
    padding-bottom: 56px; /* Add padding to bottom to avoid overlap with fixed footer */
}

/* Custom styles for the navbar */
.navbar-brand img {
    margin-right: 10px; /* Add margin to the right of the logo */
}

.navbar-nav .nav-link {
    font-size: 1.1em; /* Increase font size for navbar links */
    padding: 10px 15px; /* Add padding to navbar links */
}

/* Hover effect for navbar links */
.navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Add a light background color on hover */
    border-radius: 5px; /* Round the corners of the background */
}