.home-content {
    height: calc(100vh - 60px - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content {
    min-height: calc(100vh - 60px);
    padding-top: 60px;
    padding-bottom: 56px;
}

/* Custom styles for the navbar */
.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 1.1em;
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}