.home-content {
    height: calc(100vh - 60px - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content {
    min-height: calc(100vh - 60px);
    padding-top: 60px;
    padding-bottom: 56px;
}