<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon App</title>
</head>
<body>
    <navbar>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/showParty">Show My Party</a></li>
        </ul>
    </navbar>
    
<!-- Other EJS Content goes -->