<%- include('header.ejs') -%>
    <h1>Pokemon Project</h1>
    <form method="POST" action="/searchPokemon">

        <label for="pokemonName">Search Pokemon</label>
        <input type="text" name="pokemonName" autocomplete="off" />
        <input type="submit" value="Search !">
    </form>
<%- include('footer.ejs') -%>